h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: #cc5dc1 underline wavy;
    letter-spacing: 75px;
    font-size: 80px;
    font-family: Futura, Arial, monospace;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.7;
}