body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* flex-wrap: wrap; */
}

#container div {
    width: 150px;
    height: 150px;
    text-align: center;
    flex-basis: 200px;
}

div:nth-of-type(1) {
    flex-grow: 1;
    flex-shrink: 2;
}

div:nth-of-type(5) {
    flex-grow: 2;
    flex-shrink: 0;
}

main {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
}

main .sidebar {
    background-color: #6930c3;
    flex: 1 2 250px;
}

main .maincontent {
    background-color: #80ffdb;
    flex: 1 1 500px;
}
