.Die {
    background-color: slateblue;
    border-radius: 10px;
    color: white;
    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.5em;
    text-align: center;
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 1.5rem;
}