<%- include('partials/head') %>
    <%- include('partials/navbar') %>
    <h1>The Home Page <%= 4 + 5 + 1 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis iste corrupti minima aliquam alias fugit quisquam ad illo fugiat explicabo magnam quo veritatis suscipit, sit, repellat amet officia aut officiis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ea, voluptatem iure deserunt tenetur repellat eum quia provident illum ipsa ad ipsam porro, magni non impedit? Eligendi, error? Culpa, necessitatibus?</p>
    
<%- include('partials/footer') %>