h1 {
    background-color: #2a9d8f;
    border: 5px solid #264653;
    color: #eae2b7;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin: 20px auto;
    font-family: Courier New;
    font-weight: lighter;
}

h1:nth-of-type(2n) {
    background-color: #e9c46a;
}

h1:nth-of-type(3n) {
    background-color: #f4a261;
}

h1:nth-of-type(4n) {
    background-color: #e76f51;
}

section:nth-of-type(1) h1:nth-of-type(1) {
    /* transform-origin: top right; */
    transform: rotate(45deg);
}

section:nth-of-type(1) h1:nth-of-type(2) {
    transform: scale(0.6);
}

section:nth-of-type(1) h1:nth-of-type(3) {
    transform: translateX(200px);
}

section:nth-of-type(1) h1:nth-of-type(4) {
    transform: translate(-200px, 50px);
}

section:nth-of-type(2) h1:nth-of-type(1) {
    transform: skew(30deg);
}

section:nth-of-type(2) h1:nth-of-type(2) {
    transform: skew(10deg, 5deg);
}

section:nth-of-type(2) h1:nth-of-type(3) {
    transform: rotate(-20deg) scale(1.2) skew(45deg);
}

section:nth-of-type(2) h1:nth-of-type(4) {
    transform: translateX(-500px) rotate(180deg) scaleY(1.5) skew(15deg);
}

section:nth-of-type(2){
    transform: scale(0.7);
}